@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?ozrrvm");
  src: url("/fonts/icomoon.eot?ozrrvm#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?ozrrvm") format("truetype"),
    url("/fonts/icomoon.woff?ozrrvm") format("woff"),
    url("/fonts/icomoon.svg?ozrrvm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shop:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-fill-check-circle:before {
  content: "\e902";
}
.icon-arrow1-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-top-left:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-uniE906:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-fashion-body:before {
  content: "\e918";
}
.icon-precision:before {
  content: "\e919";
}
.icon-elegance:before {
  content: "\e91a";
}
.icon-fb3:before {
  content: "\e91b";
}
.icon-x2:before {
  content: "\e91c";
}
.icon-tiktok:before {
  content: "\e91d";
}
.icon-heart3:before {
  content: "\e91e";
}
.icon-order:before {
  content: "\e91f";
}
.icon-quote5:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\e922";
}
.icon-location:before {
  content: "\e923";
}
.icon-shipped:before {
  content: "\e924";
}
.icon-confirm:before {
  content: "\e925";
}
.icon-plus2:before {
  content: "\e926";
}
.icon-fire2:before {
  content: "\e927";
}
.icon-sidebar:before {
  content: "\e928";
}
.icon-video:before {
  content: "\e929";
}
.icon-car2:before {
  content: "\e92a";
}
.icon-compare3:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e92c";
}
.icon-eye:before {
  content: "\e92d";
}
.icon-copy:before {
  content: "\e92e";
}
.icon-share:before {
  content: "\e92f";
}
.icon-ask:before {
  content: "\e930";
}
.icon-compare2:before {
  content: "\e931";
}
.icon-car:before {
  content: "\e932";
}
.icon-coupon:before {
  content: "\e933";
}
.icon-note:before {
  content: "\e934";
}
.icon-gift2:before {
  content: "\e935";
}
.icon-pen:before {
  content: "\e936";
}
.icon-close:before {
  content: "\e937";
}
.icon-mail:before {
  content: "\e938";
}
.icon-youtube:before {
  content: "\e939";
}
.icon-instagram:before {
  content: "\e93a";
}
.icon-fb2:before {
  content: "\e93b";
}
.icon-x:before {
  content: "\e93c";
}
.icon-support2:before {
  content: "\e93d";
}
.icon-shipping3:before {
  content: "\e93e";
}
.icon-return3:before {
  content: "\e93f";
}
.icon-customer:before {
  content: "\e940";
}
.icon-return2:before {
  content: "\e941";
}
.icon-shipping2:before {
  content: "\e942";
}
.icon-leaf:before {
  content: "\e943";
}
.icon-clock:before {
  content: "\e944";
}
.icon-pinterest:before {
  content: "\e945";
}
.icon-head-phone:before {
  content: "\e946";
}
.icon-categories:before {
  content: "\e947";
}
.icon-quote4:before {
  content: "\e948";
}
.icon-sun:before {
  content: "\e949";
}
.icon-designs:before {
  content: "\e94a";
}
.icon-fit:before {
  content: "\e94b";
}
.icon-protection:before {
  content: "\e94c";
}
.icon-quality:before {
  content: "\e94d";
}
.icon-arr-right3:before {
  content: "\e94e";
}
.icon-quote3:before {
  content: "\e94f";
}
.icon-quote:before {
  content: "\e950";
}
.icon-quote2:before {
  content: "\e951";
}
.icon-flash-star:before {
  content: "\e952";
}
.icon-dot:before {
  content: "\e953";
}
.icon-fb:before {
  content: "\e954";
}
.icon-verifi:before {
  content: "\e955";
}
.icon-compare:before {
  content: "\e956";
}
.icon-heart2:before {
  content: "\e957";
}
.icon-view:before {
  content: "\e958";
}
.icon-cart2:before {
  content: "\e959";
}
.icon-arr-down:before {
  content: "\e95a";
}
.icon-star:before {
  content: "\e95b";
}
.icon-arr-left:before {
  content: "\e95c";
}
.icon-arr-right2:before {
  content: "\e95d";
}
.icon-arr-right:before {
  content: "\e95e";
}
.icon-cart:before {
  content: "\e95f";
}
.icon-phone:before {
  content: "\e960";
}
.icon-heart:before {
  content: "\e961";
}
.icon-user:before {
  content: "\e962";
}
.icon-linkedin:before {
  content: "\e963";
}
.icon-search:before {
  content: "\e964";
}
.icon-gift:before {
  content: "\e965";
}
.icon-twitter:before {
  content: "\e966";
}
.icon-return:before {
  content: "\e967";
}
.icon-support:before {
  content: "\e968";
}
.icon-shipping:before {
  content: "\e969";
}
.icon-snapchat:before {
  content: "\e96a";
}
.icon-categories1:before {
  content: "\e96b";
}
.icon-arrow1-right:before {
  content: "\e96c";
}
.icon-arrow1-top-left:before {
  content: "\e96d";
}
.icon-filter:before {
  content: "\e96e";
}
.icon-btn3d:before {
  content: "\e971";
}
.icon-payment:before {
  content: "\e973";
}
.icon-diamond:before {
  content: "\e974";
}
.icon-trash:before {
  content: "\e975";
}
.icon-clock2:before {
  content: "\e976";
}
.icon-whatsapp:before {
  content: "\ea93";
}
